#InformacoesPessoais{
    background-color:lightblue;
}
#DadosProfissionais{
    background-color: lightcoral;
}
#areatexto{
    background-color: khaki;
}
#Acoes{
    background-color: lightgreen;
}
#enviar{
    
    background-color: green;
    color:#ffffff;
   
}
#limpar{
    background-color:orange;
    color:#ffffff;
}
#borda1,#borda2,#borda3{
    border-style: dashed;
}
    #nome,#email,#Cidade{
        background-color: khaki;
    }


 #msg-boas-vindas {
    background-image: url("../imagem/computer.png");
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
}

.boas-vindas-msg {
    margin-top: 3%;
    margin-left: 13%;
}


.titulo-post-msg {
    padding: 20px;
    background-color: #9e9e9e29;
    margin: 0px;
}

.titulo-post-msg h1 {
    color: #ff0000;
}

.titulo-post-msg span {
    color: #808080;
}

.direitos-reservados-msg {
    font-size:larger;
    text-align:center;
    font-family:"Times New Roman", Times, serif;
}