{
    margin: 30px;
}
fieldset{
.boas-vindas{

}

.titulo-post{
	color:#ff0000;
}

.direitos-reservados{
    display: inline-block;
    margin-top: 20px;
    height: 200px;
    width: 100%;
    padding: 5px;
}


.boas-vindas,
.direitos-reservados {
    background-color: #4CAF50;
    
}

 #msg-boas-vindas {
    background-image: url("../Exercicio_03/Imagem/computer.png");
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
}

.boas-vindas-msg {
    margin-top: 3%;
    margin-left: 13%;
}


.titulo-post-msg {
    padding: 10px;
    background-color: #9e9e9e29;
    margin: 0px;
}

.titulo-post-msg h1 {
    color:#ff0000;
}

.titulo-post-msg span {
    color:#ff0000;
}

.direitos-reservados-msg {
    font-size:larger;
    text-align:center;
    font-family:"Times New Roman", Times, serif;
}